body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.media-object {
    width: 56px;
    height: 56px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section {
    margin-top: 20px;
}

.glyphicons-edit{
    font-size: 12px;
    color: #999;
}

.jumbotron{
    margin: 50px;
}

.media-heading{
    margin: 15px 0px;
}

.form-comment{
    margin: 10px 0;
}

.btn-comment{
    float: right;
    margin: 10px;
}